html, body {
    margin-left: 40px;
    margin-right: 40px;
}

header {
    border: 2px solid black;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 20px;
    border: 2px solid black;
}

input {
    width: 35%;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

#mil {
    text-align: center;
    margin-top: 5px;
}

#box {
    display: flex;
    flex-wrap: wrap;
}

#infos {
    margin: 10px;
    padding-bottom: 10px;
    width: 23%;
    height: 100%;
    background-color: greenyellow;
    text-align: center;
    border: 2px solid black;
	border-radius: 20px;
}

#miseEnForme {
    padding: 5px;
    margin: auto;
    width: 45%;
    background-color: orange;
    text-align: center;
    border: 2px solid black;
	border-radius: 20px;
}

#mili {
    text-align: center;
}

#redimensionImage {
    width: 50%;
    height: 50%;
    display: flex;
    margin: auto;
}